html, body, #root {
    height: 100%;
    margin: 0;
}

body {

}

* {
    box-sizing: border-box;
}

.scene {
  position: absolute;
  width: 200px;
  height: 200px;
  perspective: 600px;
  margin-left: calc(50% - 100px);
  margin-top: 400px;
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  animation: rotate 6s cubic-bezier(.64,.17,.46,.93) infinite;
}

 @keyframes rotate {
  0%  { transform: rotateY(0deg)   rotateZ(0deg)  rotateX(0deg); }
  25% { transform: rotateY(90deg)  rotateZ(15deg) rotateX(15deg); }
  25% { transform: rotateY(90deg)  rotateZ(15deg) rotateX(15deg); }
  50% { transform: rotateY(180deg) rotateZ(0deg)  rotateX(0deg); }
  50% { transform: rotateY(180deg) rotateZ(0deg)  rotateX(0deg); }
  75% { transform: rotateY(270deg) rotateZ(15deg) rotateX(15deg); }
  75% { transform: rotateY(270deg) rotateZ(15deg) rotateX(15deg); }
  100%{ transform: rotateY(360deg) rotateZ(0deg)  rotateX(0deg); }
}

.cube__face {
    width: inherit;
    height: inherit;
    border: 5px solid #022c4e;
    position: absolute;
}
.cube__face--front  {
    background: rgba(233, 165, 30, 0.2) url(./assets/react.svg) center / 50% no-repeat;
    transform: rotateY(  0deg) translateZ(100px); }
.cube__face--right  {
    background: rgba(21, 171, 245, 0.2) url(./assets/dd-logo.png) center / 70% no-repeat;
    transform: rotateY( 90deg) translateZ(100px); }
.cube__face--back   {
    background: rgba(179, 0, 255, 0.2) url(./assets/reoicon.png) center / 70% no-repeat;
    transform: rotateY(180deg) translateZ(100px); }
.cube__face--left   {
    background: rgba(124, 243, 33, 0.2) url(./assets/charplogo.png) center / 50% no-repeat;
    transform: rotateY(-90deg) translateZ(100px); }

.new-stock-table thead {
}

.new-stock-table tbody tr:nth-child(odd) {
}

.new-stock-table tbody tr:nth-child(even) {
}

/* Global button border */
.btn {
    border: 1px solid rgb(5, 180, 244);
}